exportPattern( "." )
import("qpdf")
importFrom("dplyr","%>%")
importFrom("MatrixCorrelation", "RVadjMaye")
importFrom("ProjectionBasedClustering", "ContTrustMeasure")
importFrom("stats", "dist")
importFrom("umap", "umap")
